node-red/tank-level-sensor-ultrasonic-ncd-dashboard.json
[{"id":"770e3c35c1ca10f8","type":"subflow","name":"Ultrasonic Tank Level","info":"","category":"NCD","in":[{"x":1300,"y":800,"wires":[{"id":"f3d5a1a28d78e139"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"node-red/feed.svg","status":{"x":2920,"y":720,"wires":[{"id":"4ca34d69eb9df267","port":0},{"id":"5f839f60667ce114","port":0},{"id":"6495d6dc235a5764","port":0}]}},{"id":"5f8f21bdd4c107d7","type":"function","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":4600,"y":440,"wires":[["2cd5bf9b08b9a526"]]},{"id":"c59a870d62b55e53","type":"http response","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","statusCode":"","headers":{},"x":4890,"y":440,"wires":[]},{"id":"2cd5bf9b08b9a526","type":"file in","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4760,"y":440,"wires":[["c59a870d62b55e53"]]},{"id":"b2ce40774b6cb6b7","type":"catch","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","scope":["2cd5bf9b08b9a526"],"uncaught":false,"x":4450,"y":500,"wires":[["2a6a72e2a7132084","de08a066b0e3d7da","cb72e8deb2c2c4c3"]]},{"id":"c695d84d0418bc90","type":"http in","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":3970,"y":440,"wires":[["7f491d0477a81e79","3dc70aa13e1375a2"]]},{"id":"5b6e63aa140289b9","type":"change","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"tlDateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":4430,"y":440,"wires":[["5f8f21bdd4c107d7"]]},{"id":"7f491d0477a81e79","type":"change","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":4095,"y":420,"wires":[["e063f3e5c5f74c4d"]],"l":false},{"id":"3dc70aa13e1375a2","type":"change","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":4095,"y":460,"wires":[["4b6473999e286c92"]],"l":false},{"id":"e063f3e5c5f74c4d","type":"switch","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":4145,"y":420,"wires":[["687cbe034e41796d"]],"l":false},{"id":"4b6473999e286c92","type":"switch","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":4145,"y":460,"wires":[["eade5c94e5f98725"]],"l":false},{"id":"687cbe034e41796d","type":"change","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"tlmacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4260,"y":420,"wires":[["5b6e63aa140289b9"]]},{"id":"c8316edf37425bec","type":"ui-notification","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":4860,"y":480,"wires":[]},{"id":"2a6a72e2a7132084","type":"function","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"error message","func":"var error = \"Error: no such file or directory, open 'log'\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4620,"y":480,"wires":[["e6d4c58dc9025629"]]},{"id":"e6d4c58dc9025629","type":"trigger","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":4735,"y":480,"wires":[["c8316edf37425bec"]],"l":false},{"id":"eade5c94e5f98725","type":"change","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"tlmacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4260,"y":460,"wires":[["5b6e63aa140289b9"]]},{"id":"de08a066b0e3d7da","type":"http response","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"tlRedirecting","statusCode":"302","headers":{"location":"/dashboard/tanklevel"},"x":4610,"y":520,"wires":[]},{"id":"cb72e8deb2c2c4c3","type":"trigger","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":4555,"y":560,"wires":[["7cea99bdffc9c49f"]],"l":false},{"id":"7cea99bdffc9c49f","type":"link out","z":"770e3c35c1ca10f8","g":"b4db2ca48dd65b46","name":"link out 109","mode":"link","links":["c943de803dd8c936"],"x":4615,"y":560,"wires":[]},{"id":"b759caeb85e368b7","type":"ui-text-input","z":"770e3c35c1ca10f8","g":"460953dc96060b48","group":"a56770957f6b17b2","name":"ptDatePicker","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"tlDatePicker","x":4550,"y":320,"wires":[["761dc5f24506fb85"]]},{"id":"7ebdb792f318a5dc","type":"ui-template","z":"770e3c35c1ca10f8","g":"460953dc96060b48","group":"a56770957f6b17b2","page":"","ui":"","name":"ptDownload","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/ncd-tank-level.csv\">\n        <v-btn class=\"tlButtonDownload\" color=\"#36ccff\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.tlButtonDownload{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4970,"y":320,"wires":[[]]},{"id":"761dc5f24506fb85","type":"change","z":"770e3c35c1ca10f8","g":"460953dc96060b48","name":"","rules":[{"t":"set","p":"tlDateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4760,"y":320,"wires":[[]]},{"id":"c8b7ded7a40d8c6a","type":"ui-template","z":"770e3c35c1ca10f8","g":"56527be957791d6c","group":"","page":"22b91977aa27d099","ui":"","name":"tlStyle","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-image: url(\"\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color: #01313f !important;\n}\n.bg-group-background{\n    border-width: 2.1px !important;\n    border-radius:  30px !important;\n    background-color: #064457 !important;\n    border-color: #064457  !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: #064457 !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: #064457 !important;\n}\n.tlGroupSelectMac .bg-group-background {\n    background-color: #064457 !important;\n    border-color: #064457 !important;\n}\n.tlGroupSelectMac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.tlGroupSelectMac .v-card{\n    height: 92px !important;\n}\n.tlGroupDownload .bg-group-background {\n    background-color: #064457 !important;\n    border-color: #064457 !important;\n}\n.tlGroupDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n.tlGroupDownload .v-card{\n    height: 155px !important;\n}\n.tlInspectGroup .v-card{\n    height: 1077px !important;\n}\n.tlMainGroups .v-card{\n    height: 720px !important;\n}\n.tlBattGroup .v-card{\n    height: 345px !important;\n}\n.tlDatePicker{\n    top: 12px;\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.tlTitlesText .nrdb-ui-text-label{\n    position: absolute;\n    top: 0px !important;\n    font-size: 28px !important;\n    font-weight: bold;\n    color: white;\n}\n.tlMainCharts {\n    position: relative !important;\n    top: -70px !important;\n    height: 705px !important;\n}\n.tlBatteryChart{\n    position: relative !important;\n    top: -70px !important;\n    height: 335px !important;\n}\n.v-card .v-card-text .maxmin{\n    color: white;\n}\n.tlselectMAC{\n    position: relative;\n}","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":4850,"y":220,"wires":[[]]},{"id":"21c65f58ea6913ee","type":"ui-template","z":"770e3c35c1ca10f8","g":"56527be957791d6c","group":"","page":"22b91977aa27d099","ui":"","name":"tlLogo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"tllogo\">\n        <v-chip label size=\"x-large\" :width=\"200\" color=\"white\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.tllogo {\n    transform: rotate(0deg);\n    width: 180px;\n    position: fixed;\n    top: 13px;\n    left: 35px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4710,"y":220,"wires":[[]]},{"id":"275482dadd9e548d","type":"ui-template","z":"770e3c35c1ca10f8","g":"56527be957791d6c","group":"","page":"22b91977aa27d099","ui":"","name":"tlProductInfo","order":0,"width":"","height":"","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/tank-level-sensor-ultrasonic-wireless/\" target=\"_blank\">\n        <v-btn class=\"tlInfoButton\" color=\"#36ccff\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.tlInfoButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4550,"y":220,"wires":[[]]},{"id":"ab30a761b0172a03","type":"function","z":"770e3c35c1ca10f8","g":"5edd2213c8316624","name":"tlInspectFunction","func":"let toggle = context.get(\"toggle\") || 0;\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    flow.set(\"tlInspect\", true);\n    unit = {\n        groups: \n        { \n            show: [\n                \"ncd-tank-level:tlInspect1\",\n                \"ncd-tank-level:tlInspect2\",\n                \"ncd-tank-level:tlInspect3\"\n                ],\n            hide: \n            [\n               \"ncd-tank-level:tlLevelGauge\",\n               \"ncd-tank-level:tlLevelChart\",\n               \"ncd-tank-level:tlBatteryGroup\",\n               \"ncd-tank-level:tlBatteryChart\"\n            ],\n            disable: \n            [\n                \"ncd-tank-level:tlSelectMac\",\n                \"ncd-tank-level:tlDownload\"\n            ]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    flow.set(\"tlInspect\", false);\n    unit = {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-tank-level:tlInspect1\",\n                \"ncd-tank-level:tlInspect2\",\n                \"ncd-tank-level:tlInspect3\"\n            ],\n            show: [\n                \"ncd-tank-level:tlLevelGauge\",\n                \"ncd-tank-level:tlLevelChart\",\n                \"ncd-tank-level:tlBatteryGroup\",\n                \"ncd-tank-level:tlBatteryChart\"\n            ],\n            enable : \n            [\n                \"ncd-tank-level:tlSelectMac\",\n                \"ncd-tank-level:tlDownload\"\n            ]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4170,"y":200,"wires":[["9608ca02881b8d2f"]]},{"id":"c112b1eb314ec8fb","type":"ui-template","z":"770e3c35c1ca10f8","g":"5edd2213c8316624","group":"","page":"22b91977aa27d099","ui":"","name":"tlInspectButton","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"tlInspectButton\" @click=\"send({payload:true})\" color=\"#36ccff\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.tlInspectButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top: -96px !important;\n    left: -155px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3980,"y":200,"wires":[["ab30a761b0172a03"]]},{"id":"9608ca02881b8d2f","type":"ui-control","z":"770e3c35c1ca10f8","g":"5edd2213c8316624","name":"","ui":"ec459411017ddf37","events":"change","x":4340,"y":240,"wires":[[]]},{"id":"92d8677b5e6fa1bf","type":"function","z":"770e3c35c1ca10f8","g":"5edd2213c8316624","name":"tlinitShow","func":"let unit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-tank-level:tlInspect1\",\n            \"ncd-tank-level:tlInspect2\",\n            \"ncd-tank-level:tlInspect3\"\n        ],\n        show:\n        [\n            \"ncd-tank-level:tlLevelGauge\",\n            \"ncd-tank-level:tlLevelChart\",\n            \"ncd-tank-level:tlBatteryGroup\",\n            \"ncd-tank-level:tlBatteryChart\"\n        ],\n        enable:\n        [\n            \"ncd-tank-level:tlSelectMac\",\n            \"ncd-tank-level:tlDownload\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4180,"y":280,"wires":[["9608ca02881b8d2f"]]},{"id":"d0a9cb2be1138c62","type":"ui-event","z":"770e3c35c1ca10f8","g":"5edd2213c8316624","ui":"ec459411017ddf37","name":"","x":4010,"y":240,"wires":[["92d8677b5e6fa1bf"]]},{"id":"e1c7b07bc094accc","type":"inject","z":"770e3c35c1ca10f8","g":"5edd2213c8316624","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":4005,"y":320,"wires":[["40e074ab323d7e23"]],"l":false},{"id":"40e074ab323d7e23","type":"change","z":"770e3c35c1ca10f8","g":"5edd2213c8316624","name":"deleteFlowVar","rules":[{"t":"delete","p":"tlMAC","pt":"flow"},{"t":"delete","p":"tlmacSelection","pt":"flow"},{"t":"delete","p":"tlDateDownloadFile","pt":"flow"},{"t":"delete","p":"tlInspect","pt":"flow"},{"t":"delete","p":"in_max","pt":"flow"},{"t":"delete","p":"in_min","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"delete","p":"tlNumSelectedMAC","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":4065,"y":320,"wires":[["92d8677b5e6fa1bf","c0cf694846b29bca"]],"icon":"font-awesome/fa-remove","l":false},{"id":"c0cf694846b29bca","type":"link out","z":"770e3c35c1ca10f8","g":"5edd2213c8316624","name":"link out 114","mode":"link","links":["d8edbbd6987378fe","b1e9ecc59eb07574","8dbec8e5511de9bc","548be85d68f32491"],"x":4135,"y":320,"wires":[]},{"id":"4b42b1cd24ee889b","type":"link in","z":"770e3c35c1ca10f8","g":"5edd2213c8316624","name":"link in 172","links":[],"x":4225,"y":240,"wires":[["9608ca02881b8d2f"]]},{"id":"c943de803dd8c936","type":"link in","z":"770e3c35c1ca10f8","g":"5edd2213c8316624","name":"link in 173","links":["7cea99bdffc9c49f"],"x":4065,"y":280,"wires":[["92d8677b5e6fa1bf"]]},{"id":"427f72e713f3b422","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1160,"wires":[["9009862a681da4da"]],"l":false},{"id":"af91089fe91a2ba8","type":"link in","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"link in 174","links":["cc0226f553298130","6fd47adcde483659"],"x":3915,"y":1340,"wires":[["427f72e713f3b422","24926e799e831a6f","ad1b24b6d5b89e26","6d3ac2b8bfa50483","3afd62ed94821fad","6bbc39e1fa1e41ad","e655b63146ca066c","d2dac8e7084f234b","6d132fc44a9ffe66","219e15c4e6aad59b"]]},{"id":"24926e799e831a6f","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1200,"wires":[["558b0819339188d9"]],"l":false},{"id":"ad1b24b6d5b89e26","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1240,"wires":[["cfb62fea9d3beaaa"]],"l":false},{"id":"6d3ac2b8bfa50483","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1280,"wires":[["d876eaa7ca6cc284"]],"l":false},{"id":"3afd62ed94821fad","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1320,"wires":[["25408472b5c31603"]],"l":false},{"id":"6bbc39e1fa1e41ad","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1360,"wires":[["4812c0f09de79d4e"]],"l":false},{"id":"e655b63146ca066c","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1400,"wires":[["389579aed0ef99ba"]],"l":false},{"id":"d2dac8e7084f234b","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1440,"wires":[["25b521a73bd50eed"]],"l":false},{"id":"6d132fc44a9ffe66","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1480,"wires":[["a777479cea61d4fd"]],"l":false},{"id":"219e15c4e6aad59b","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1520,"wires":[["383856288292108d"]],"l":false},{"id":"720cf7c9c6219e97","type":"link in","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"link in 175","links":["cc0226f553298130","6fd47adcde483659"],"x":4275,"y":1160,"wires":[["7b49b4220b9f5388"]]},{"id":"2c8347459d2255d0","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4685,"y":1160,"wires":[["b8fb2bde2d8848e6"]],"l":false},{"id":"c6cbc1e19a4e5930","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4685,"y":1240,"wires":[["608248cda8aa4d6e"]],"l":false},{"id":"0b9860878e605c21","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4685,"y":1280,"wires":[["210e7435eaee1386"]],"l":false},{"id":"2eb03f0fadf75b41","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4685,"y":1320,"wires":[["b228a2b88a9bed5e"]],"l":false},{"id":"d6b4c5b36a577a03","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4685,"y":1360,"wires":[["ac4da71d37717c93"]],"l":false},{"id":"cb55e94626a51bd1","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4685,"y":1400,"wires":[["ebcdda15bbcd51b8"]],"l":false},{"id":"f90425dd1fa04045","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4685,"y":1480,"wires":[["471333df010b4039"]],"l":false},{"id":"a93cb5a17e7ad136","type":"link in","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"link in 176","links":["cc0226f553298130","6fd47adcde483659"],"x":4575,"y":1360,"wires":[["2c8347459d2255d0","c6cbc1e19a4e5930","0b9860878e605c21","2eb03f0fadf75b41","d6b4c5b36a577a03","cb55e94626a51bd1","c23cee37c9ce2750"]]},{"id":"c23cee37c9ce2750","type":"switch","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":4635,"y":1460,"wires":[["bdb2ea5b1fbf7660"],["f90425dd1fa04045"]],"l":false},{"id":"bdb2ea5b1fbf7660","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4685,"y":1440,"wires":[["471333df010b4039"]],"l":false},{"id":"9009862a681da4da","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4100,"y":1160,"wires":[]},{"id":"558b0819339188d9","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4130,"y":1200,"wires":[]},{"id":"cfb62fea9d3beaaa","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4100,"y":1240,"wires":[]},{"id":"d876eaa7ca6cc284","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4110,"y":1280,"wires":[]},{"id":"25408472b5c31603","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4100,"y":1320,"wires":[]},{"id":"4812c0f09de79d4e","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4110,"y":1360,"wires":[]},{"id":"389579aed0ef99ba","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4120,"y":1400,"wires":[]},{"id":"25b521a73bd50eed","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4090,"y":1440,"wires":[]},{"id":"a777479cea61d4fd","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4100,"y":1480,"wires":[]},{"id":"383856288292108d","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4100,"y":1520,"wires":[]},{"id":"b690b3c207191c05","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"4e8dc6237db49926","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4090,"y":1120,"wires":[]},{"id":"ec656663f90b5f07","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"c838b76fb155ba25","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4410,"y":1120,"wires":[]},{"id":"38b8d990be0efee6","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"a0153c36aff0782b","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4790,"y":1120,"wires":[]},{"id":"b8fb2bde2d8848e6","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"a0153c36aff0782b","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4770,"y":1160,"wires":[]},{"id":"0d8b95f3fb58bc88","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"a0153c36aff0782b","order":4,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4820,"y":1200,"wires":[]},{"id":"608248cda8aa4d6e","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"a0153c36aff0782b","order":3,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4770,"y":1240,"wires":[]},{"id":"210e7435eaee1386","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"a0153c36aff0782b","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4780,"y":1280,"wires":[]},{"id":"b228a2b88a9bed5e","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"a0153c36aff0782b","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4770,"y":1320,"wires":[]},{"id":"ac4da71d37717c93","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"a0153c36aff0782b","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4790,"y":1360,"wires":[]},{"id":"ebcdda15bbcd51b8","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"a0153c36aff0782b","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4770,"y":1400,"wires":[]},{"id":"471333df010b4039","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"a0153c36aff0782b","order":10,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4820,"y":1480,"wires":[]},{"id":"010ca20d178749aa","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"a0153c36aff0782b","order":9,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4770,"y":1440,"wires":[]},{"id":"7b49b4220b9f5388","type":"change","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4325,"y":1160,"wires":[["96cceea19ef7d328"]],"l":false},{"id":"96cceea19ef7d328","type":"ui-text","z":"770e3c35c1ca10f8","g":"bf82dfbc17e80901","group":"c838b76fb155ba25","order":2,"width":"0","height":"0","name":"Level","label":"Level:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4410,"y":1160,"wires":[]},{"id":"4b7963d0742c3114","type":"link out","z":"770e3c35c1ca10f8","name":"link out 115","mode":"link","links":["d874c73397e0a7fc"],"x":3665,"y":960,"wires":[]},{"id":"8187b2bb94b66b5d","type":"link out","z":"770e3c35c1ca10f8","name":"link out 116","mode":"link","links":["9b4e8a77902c2f59","d874c73397e0a7fc","f15ad0d7c5ca2802","d9498b6c07e249f9"],"x":3605,"y":800,"wires":[]},{"id":"45327efd0dbd5541","type":"link out","z":"770e3c35c1ca10f8","name":"toGraphs","mode":"link","links":["d9498b6c07e249f9","9b4e8a77902c2f59"],"x":3805,"y":1040,"wires":[]},{"id":"1dbbcd19132e38b2","type":"file in","z":"770e3c35c1ca10f8","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3175,"y":1000,"wires":[["711c5e3d68e0266c"]],"l":false},{"id":"711c5e3d68e0266c","type":"csv","z":"770e3c35c1ca10f8","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":3235,"y":1000,"wires":[["e13c4eff22eda1d3"]],"l":false},{"id":"017537387632f522","type":"change","z":"770e3c35c1ca10f8","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":820,"wires":[["547263b22b974b61"]]},{"id":"8e5611d2f34c2f6f","type":"csv","z":"770e3c35c1ca10f8","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"battery_percent,counter,sensor_data,sensor_name,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":2715,"y":780,"wires":[["122c1343a25e4027"]],"l":false},{"id":"122c1343a25e4027","type":"file","z":"770e3c35c1ca10f8","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":2765,"y":780,"wires":[["59bfeed6bfe526ef","4ca34d69eb9df267"]],"l":false},{"id":"59bfeed6bfe526ef","type":"function","z":"770e3c35c1ca10f8","name":"getAndSetMAC","func":"let newMAC = msg.data.addr;\nlet count = context.get(\"tlcountMAC\") || 0;\n\nfor (let index = 0; index <= count; index++) {\n    let oldMAC = flow.get(\"tlMAC[\"+index+\"]\"); // Acces to element 0 of array (MAC)\n    if(oldMAC == newMAC)\n    {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n        return msg;\n    }\n}\n// if new MAC is arrive\nflow.set(\"tlMAC[\"+count+\"]\", newMAC); // Save array [MAC, TYPE]\ncount++;\nmsg.mac_counter = count;\nmsg.newdevice = true; \ncontext.set(\"tlcountMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":800,"wires":[["d52de4044cdb349a","5a757973d40e9273"]]},{"id":"d52de4044cdb349a","type":"function","z":"770e3c35c1ca10f8","name":"getMACOptionsForDropdown","func":"let count = msg.mac_counter;\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"tlMAC[\"+index+\"]\");\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3150,"y":820,"wires":[["69c6e36888f070b4","d772504c6cd2a397"]]},{"id":"2e06813b38411fb2","type":"change","z":"770e3c35c1ca10f8","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":1080,"wires":[["3dbebf1735cbac2b"]]},{"id":"69c6e36888f070b4","type":"switch","z":"770e3c35c1ca10f8","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"tlmacSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":3420,"y":820,"wires":[["8a4dcc8b713e0582"]]},{"id":"10a17a0e2370ebe5","type":"change","z":"770e3c35c1ca10f8","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3520,"y":1040,"wires":[["6ece9b51001c3f33"]]},{"id":"6ece9b51001c3f33","type":"json","z":"770e3c35c1ca10f8","name":"json object","property":"payload.data","action":"","pretty":false,"x":3615,"y":1040,"wires":[["9113b34e600c970e"]],"l":false},{"id":"9113b34e600c970e","type":"function","z":"770e3c35c1ca10f8","name":"getData","func":"let data = msg.payload.data;\ndata.Timestamp = msg.payload.col6;\ndata.battery = msg.payload.col1;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3710,"y":1040,"wires":[["45327efd0dbd5541"]]},{"id":"547263b22b974b61","type":"switch","z":"770e3c35c1ca10f8","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2260,"y":820,"wires":[["5f839f60667ce114"],["db9c41c13ef37ea8"],["393f6c01f2e33238"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"db9c41c13ef37ea8","type":"function","z":"770e3c35c1ca10f8","name":"buildUserFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2510,"y":820,"wires":[["8e5611d2f34c2f6f"]]},{"id":"393f6c01f2e33238","type":"function","z":"770e3c35c1ca10f8","name":"buildUserFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2540,"y":860,"wires":[["8e5611d2f34c2f6f"]]},{"id":"3dbebf1735cbac2b","type":"switch","z":"770e3c35c1ca10f8","name":"win/lin?","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2750,"y":1080,"wires":[["c1440dab67e8be6c"],["057fbd87ab72fba6"]]},{"id":"c1440dab67e8be6c","type":"function","z":"770e3c35c1ca10f8","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2930,"y":1060,"wires":[["3ec8280f09642874"]]},{"id":"057fbd87ab72fba6","type":"function","z":"770e3c35c1ca10f8","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":1100,"wires":[["3ec8280f09642874"]]},{"id":"bc0e391326a927a4","type":"catch","z":"770e3c35c1ca10f8","name":"","scope":["122c1343a25e4027","1dbbcd19132e38b2"],"uncaught":false,"x":2775,"y":700,"wires":[["5f839f60667ce114"]],"l":false},{"id":"5f839f60667ce114","type":"function","z":"770e3c35c1ca10f8","name":"function 50","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2845,"y":720,"wires":[[]],"l":false},{"id":"4ca34d69eb9df267","type":"function","z":"770e3c35c1ca10f8","name":"function 51","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2845,"y":760,"wires":[[]],"l":false},{"id":"b92719ae34af8f56","type":"switch","z":"770e3c35c1ca10f8","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":1830,"y":780,"wires":[["b2f854044a28bb76"],["017537387632f522"]],"outputLabels":["defaultPath","userPath"]},{"id":"4fcf463f7aca0b15","type":"change","z":"770e3c35c1ca10f8","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":720,"wires":[["7eb69419694b4792"]]},{"id":"b5cc5ad8be6273d4","type":"change","z":"770e3c35c1ca10f8","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":760,"wires":[["515054214bc47567"]]},{"id":"515054214bc47567","type":"switch","z":"770e3c35c1ca10f8","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2170,"y":760,"wires":[["1f26a34626b945a6"]]},{"id":"7eb69419694b4792","type":"switch","z":"770e3c35c1ca10f8","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2170,"y":720,"wires":[["3d33fb0851f63211"]]},{"id":"c2dee66d34275304","type":"change","z":"770e3c35c1ca10f8","name":"get/savePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":780,"wires":[["b92719ae34af8f56"]]},{"id":"3d33fb0851f63211","type":"change","z":"770e3c35c1ca10f8","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2340,"y":720,"wires":[["76bdd2e722faad76"]]},{"id":"e90278478997e4ca","type":"function","z":"770e3c35c1ca10f8","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2540,"y":760,"wires":[["8e5611d2f34c2f6f"]]},{"id":"76bdd2e722faad76","type":"function","z":"770e3c35c1ca10f8","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2540,"y":720,"wires":[["8e5611d2f34c2f6f"]]},{"id":"1f26a34626b945a6","type":"change","z":"770e3c35c1ca10f8","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2340,"y":760,"wires":[["e90278478997e4ca"]]},{"id":"0d22900d5285c62b","type":"switch","z":"770e3c35c1ca10f8","name":"userPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2390,"y":1000,"wires":[["06f2681e27bfbe25","e3ac16bdb84e1d51"],["2e06813b38411fb2"]]},{"id":"932b8de9c7723a1d","type":"change","z":"770e3c35c1ca10f8","name":"userPath&MacSelection","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"tlmacSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":1000,"wires":[["0d22900d5285c62b"]]},{"id":"e3ac16bdb84e1d51","type":"change","z":"770e3c35c1ca10f8","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2550,"y":940,"wires":[["6f77087f0ef556c4"]]},{"id":"06f2681e27bfbe25","type":"change","z":"770e3c35c1ca10f8","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2550,"y":1000,"wires":[["09b47c1970dd0101"]]},{"id":"09b47c1970dd0101","type":"switch","z":"770e3c35c1ca10f8","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2680,"y":1000,"wires":[["a235fbc6f7404977"]]},{"id":"6f77087f0ef556c4","type":"switch","z":"770e3c35c1ca10f8","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2680,"y":940,"wires":[["470452656ad7f839"]]},{"id":"100d819d113be63b","type":"function","z":"770e3c35c1ca10f8","name":"buildPathWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3040,"y":1000,"wires":[["1dbbcd19132e38b2"]]},{"id":"58bee3a0324031db","type":"function","z":"770e3c35c1ca10f8","name":"buildPathLin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3040,"y":940,"wires":[["1dbbcd19132e38b2"]]},{"id":"470452656ad7f839","type":"change","z":"770e3c35c1ca10f8","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2850,"y":940,"wires":[["58bee3a0324031db"]]},{"id":"a235fbc6f7404977","type":"change","z":"770e3c35c1ca10f8","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2850,"y":1000,"wires":[["100d819d113be63b"]]},{"id":"e13c4eff22eda1d3","type":"function","z":"770e3c35c1ca10f8","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\nconst array = msg.payload;\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send([[null], [msg]]); \n}\nmsg.payload = array[array.length - 1];\nreturn [msg, null];\n","outputs":2,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":3350,"y":1000,"wires":[["e0716e4edcef9c51","860716a832a908b1"],["10a17a0e2370ebe5"]]},{"id":"2ad006a2294988a7","type":"catch","z":"770e3c35c1ca10f8","name":"","scope":["6ece9b51001c3f33"],"uncaught":false,"x":3570,"y":760,"wires":[[]]},{"id":"8a4dcc8b713e0582","type":"function","z":"770e3c35c1ca10f8","name":"function 52","func":"let inspect = flow.get(\"tlInspect\") || false;\nlet data = msg.data.sensor_data;\ndata.Timestamp = msg.data.received;\ndata.battery = Number(msg.data.battery_percent);\nmsg.payload = [data];\nif(inspect){\n    return [msg, msg];\n}\nreturn [msg, null];\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3555,"y":820,"wires":[["8187b2bb94b66b5d"],["6fd47adcde483659"]],"l":false},{"id":"e0716e4edcef9c51","type":"change","z":"770e3c35c1ca10f8","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3520,"y":960,"wires":[["67be168ab2eba50b"]]},{"id":"860716a832a908b1","type":"change","z":"770e3c35c1ca10f8","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3530,"y":1000,"wires":[["e266a4021ebe0794"]]},{"id":"67be168ab2eba50b","type":"json","z":"770e3c35c1ca10f8","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":3615,"y":960,"wires":[["4b7963d0742c3114"]],"l":false},{"id":"f3d5a1a28d78e139","type":"switch","z":"770e3c35c1ca10f8","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"34","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1480,"y":800,"wires":[["c2dee66d34275304"],["dfc16cd2d9d5c922"]]},{"id":"dfc16cd2d9d5c922","type":"function","z":"770e3c35c1ca10f8","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":820,"wires":[["e74f0411c44c6d69"]]},{"id":"e74f0411c44c6d69","type":"link out","z":"770e3c35c1ca10f8","name":"link out 117","mode":"link","links":["6495d6dc235a5764"],"x":1785,"y":820,"wires":[]},{"id":"6495d6dc235a5764","type":"link in","z":"770e3c35c1ca10f8","name":"link in 177","links":["e74f0411c44c6d69"],"x":2845,"y":680,"wires":[[]]},{"id":"d8edbbd6987378fe","type":"link in","z":"770e3c35c1ca10f8","name":"link in 178","links":["c0cf694846b29bca"],"x":1685,"y":1020,"wires":[["d772504c6cd2a397"]]},{"id":"4e911581a2e35cda","type":"change","z":"770e3c35c1ca10f8","name":"clearInspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"-\",\"sensor_data\":{\"c1_raw_adc\":\"-\",\"c1_ma\":\"-\",\"c1_db\":\"-\",\"c2_raw_adc\":\"-\",\"c2_ma\":\"-\",\"c2_db\":\"-\"},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2095,"y":1040,"wires":[["cc0226f553298130"]],"l":false},{"id":"cc0226f553298130","type":"link out","z":"770e3c35c1ca10f8","name":"link out 118","mode":"link","links":["a93cb5a17e7ad136","720cf7c9c6219e97","af91089fe91a2ba8","edca1f73e574a815","548be85d68f32491"],"x":2145,"y":1040,"wires":[]},{"id":"6d2f777dad7e6865","type":"function","z":"770e3c35c1ca10f8","name":"inspectCheck","func":"let actualMAC = msg.payload;\nlet lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":1000,"wires":[["4e911581a2e35cda","932b8de9c7723a1d"]]},{"id":"e266a4021ebe0794","type":"link out","z":"770e3c35c1ca10f8","name":"link out 119","mode":"link","links":["f15ad0d7c5ca2802"],"x":3635,"y":1000,"wires":[]},{"id":"993e362472562ea5","type":"change","z":"770e3c35c1ca10f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new ncd device with MAC (\"&(data.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3085,"y":780,"wires":[["0b335ea6f7d8e767"]],"l":false},{"id":"d772504c6cd2a397","type":"ui-dropdown","z":"770e3c35c1ca10f8","group":"62878c2ed835984c","name":"Select MAC","label":"MAC","tooltip":"","order":2,"width":"","height":"","passthru":false,"multiple":false,"options":[{"label":"0","value":"default","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"tlselectMAC","x":1790,"y":1000,"wires":[["6d2f777dad7e6865","c139041ab1f6bc2a"]]},{"id":"0b335ea6f7d8e767","type":"ui-notification","z":"770e3c35c1ca10f8","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":3190,"y":780,"wires":[]},{"id":"5a757973d40e9273","type":"switch","z":"770e3c35c1ca10f8","name":"","property":"newdevice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":3035,"y":780,"wires":[["993e362472562ea5"]],"l":false},{"id":"6fd47adcde483659","type":"link out","z":"770e3c35c1ca10f8","name":"link out 120","mode":"link","links":["af91089fe91a2ba8","720cf7c9c6219e97","a93cb5a17e7ad136"],"x":3605,"y":840,"wires":[]},{"id":"c139041ab1f6bc2a","type":"function","z":"770e3c35c1ca10f8","name":"function 53","func":"let count = msg.mac_counter;\nfor (let index = 0; index < count; index++) {\n    if(msg.payload == flow.get(\"tlMAC[\"+index+\"]\"))\n    {\n        flow.set(\"tlNumSelectedMAC\", index);\n        return msg\n    }\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":1040,"wires":[[]]},{"id":"d874c73397e0a7fc","type":"link in","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"link in 158","links":["8187b2bb94b66b5d","4b7963d0742c3114"],"x":4015,"y":740,"wires":[["2d9dfa2898091d1d"]]},{"id":"5482d83d4afbbeae","type":"change","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4635,"y":880,"wires":[["8a36cd182b91b9d2"]],"l":false},{"id":"8a36cd182b91b9d2","type":"range","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4695,"y":840,"wires":[["617d95d512be2351"]],"l":false},{"id":"f15ad0d7c5ca2802","type":"link in","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"link in 159","links":["e266a4021ebe0794","8187b2bb94b66b5d"],"x":4585,"y":880,"wires":[["5482d83d4afbbeae"]]},{"id":"7db152f132896984","type":"ui-text","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"9073e0dab3e3991f","order":1,"width":"0","height":"0","name":"tlLevelChartText","label":"History Level (mm)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"tlTitlesText","x":4390,"y":780,"wires":[]},{"id":"f66f90e28763a925","type":"ui-chart","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"699f5f0aa270c69c","name":"vpBatteryChart","label":"","order":2,"chartType":"line","category":"[\"battery\",\"\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"[0].battery","ymin":"5","ymax":"100","action":"append","pointShape":"circle","pointRadius":"3","showLegend":false,"removeOlder":"10","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#36ccff","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"10","height":"4","className":"tlBatteryChart","x":4850,"y":800,"wires":[[]]},{"id":"617d95d512be2351","type":"ui-template","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"8021fadff1fbd867","page":"","ui":"","name":"vpBatteryPercent","order":3,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"tlCircularBatt\" :rotate=\"180\" bg-color=\"#01313f\" model-value=\"20\" :size=\"275\" :width=\"25\" color=\"#36ccff\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"white\" icon=\"mdi-battery-medium\"></v-icon>\n                <br>\n            </div>\n            <div class=\"tlScaleBatt\">\n                {{ msg.scale }}%\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.tlCircularBatt{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: 0px !important;\n    top: -25px;\n}\n.tlScaleBatt{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4860,"y":840,"wires":[[]]},{"id":"2d9dfa2898091d1d","type":"change","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4085,"y":740,"wires":[["48443db5dd7901ae","1e0d13d9417cec6b"]],"l":false},{"id":"edca1f73e574a815","type":"link in","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"link in 160","links":["cc0226f553298130"],"x":4585,"y":760,"wires":[["43a59a5ae9581298"]]},{"id":"43a59a5ae9581298","type":"change","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4635,"y":760,"wires":[["12d0fb4c7e34a96a","f66f90e28763a925","617d95d512be2351"]],"l":false},{"id":"9b4e8a77902c2f59","type":"link in","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"link in 161","links":["8187b2bb94b66b5d","45327efd0dbd5541"],"x":4585,"y":800,"wires":[["f66f90e28763a925"]]},{"id":"8dbec8e5511de9bc","type":"link in","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"link in 162","links":["c0cf694846b29bca","12d0fb4c7e34a96a"],"x":4015,"y":780,"wires":[["5b85f6df5d454f87","46f3bb75594e8784"]]},{"id":"b1e9ecc59eb07574","type":"link in","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"link in 163","links":["c0cf694846b29bca"],"x":4585,"y":840,"wires":[["8a36cd182b91b9d2","f66f90e28763a925"]]},{"id":"5b85f6df5d454f87","type":"ui-chart","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"9073e0dab3e3991f","name":"tlLevelChart","label":"","order":2,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"level","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"5","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#36ccff","#f8f125","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"10","height":"2","className":"tlMainCharts","x":4380,"y":820,"wires":[[]]},{"id":"193436f9b9a898f0","type":"ui-text","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"699f5f0aa270c69c","order":1,"width":"10","height":"1","name":"ptBattery","label":"History Battery Percent (%)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"tlTitlesText","x":4830,"y":760,"wires":[]},{"id":"d9498b6c07e249f9","type":"link in","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"link in 164","links":["8187b2bb94b66b5d","45327efd0dbd5541"],"x":4015,"y":820,"wires":[["5b85f6df5d454f87"]]},{"id":"12d0fb4c7e34a96a","type":"link out","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"link out 110","mode":"link","links":["8dbec8e5511de9bc"],"x":4725,"y":760,"wires":[]},{"id":"46f3bb75594e8784","type":"change","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":4235,"y":780,"wires":[["cb4c2ef3e40b3339","1e0d13d9417cec6b"]],"l":false},{"id":"cb4c2ef3e40b3339","type":"ui-template","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"6ab8025231c0048f","page":"","ui":"","name":"Tank Level","order":2,"width":"2","height":"9","head":"","format":"<script>\n    export default{\n        data(){\n            return {\n                min: 0, \n                max:100,\n                label:\"Tank\",\n                unit:\"%\",\n                showMax:true,\n                maxLabel:\"Max\",\n                value:0\n            }\n        }\n    }\n</script>\n    \n<template>\n    <div class=\"wrapper\">\n        <div class=\"tank\">\n            <div class=\"fluid\" :style=\"{'height':percentage}\"></div>\n            <div class=\"frame\"></div>\n            <p class=\"txt\">{{formattedValue}}<span>{{unit}}</span></p>\n            <p class=\"label\">{{label}}</p>\n            <p v-if=\"showMax\" class=\"limit\"><span>{{maxLabel}}</span>{{max}}{{unit}}</p>\n        </div>\n        <div>\n</template>\n\n<script>\n    export default{        \n        methods:{\n            getElement: function(name,base){\n                if(base){\n                    return this.$refs[name]\n                }\n                return this.$refs[name][0]\n            },\n            validate: function(data){\n                let ret\n                if(typeof data !== \"number\"){\n                    ret = parseFloat(data)\n                    if(isNaN(ret)){\n                        console.log(\"BAD DATA! gauge id:\",this.id,\"data:\",data)\n                        ret = null\n                    }\n                }\n                else{\n                    ret = data\n                }\n                return ret\n            }\n        },\n        computed: {\n            formattedValue: function () {\n                return this.value.toFixed(2)\n            },\n            percentage: function(){\n                return Math.floor(((this.value - this.min) / (this.max - this.min)) * 100)+\"%\";\n            }\n        },\n        watch: {\n            msg: function(){            \n                const v = this.validate(this.msg.payload)           \n                this.value = v                         \n            }\n        }    \n    }    \n</script>\n<style>\n    .wrapper{\n        position:relative;\n        top: -12px;\n        --border:3px;\n        --corner:30px;\n        --fluidColor:#36ccff;\n    }\n    .tank {\n        position: absolute;\n        width: 100%;\n        height: 100%;\n        margin: auto;\n        inset: 0;\n        overflow: hidden;\n        border-bottom-left-radius: var(--corner);\n        border-bottom-right-radius: var(--corner);\n    }\n    .tank .txt {\n        position: relative;\n        width: 100%;\n        top: 55%;\n        text-align: center;\n        font-size: xxx-large;\n        font-weight: 700;\n        user-select: none;\n        color: white;\n    }\n    .tank .txt span {\n        font-size: xx-large;\n        display: contents;\n        color: white;\n    }\n    .tank .label {\n        position: absolute;\n        width: 100%;\n        top: 20%;\n        text-align: center;\n        font-size: 2rem;        \n        user-select: none;\n        color: white;\n    }\n    .tank .limit {\n        position: absolute;\n        top: 1ch;\n        right: 1ch;\n        text-align: end;\n        font-size: medium;\n        opacity:.7;\n        user-select: none;\n        color: white;\n    }\n    .tank .limit span {\n        padding-right:0.5ch;\n    }\n    .tank .frame {\n        position: absolute;\n        width: calc(100% - var(--border));\n        height:calc(100% - var(--border));\n        margin: auto;\n        inset: 0;\n        outline: var(--border) solid;     \n        border-bottom-left-radius: var(--corner);\n        border-bottom-right-radius: var(--corner);\n        color: white;\n    }\n\n    .tank .fluid {\n        position: absolute;\n        width: 100%;\n        height:100%;\n        bottom: 0;\n        background: var(--fluidColor);\n        border-bottom-left-radius: var(--corner);\n        border-bottom-right-radius: var(--corner);\n    }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":4380,"y":740,"wires":[[]]},{"id":"f722f11bafca9bea","type":"ui-text","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"6ab8025231c0048f","order":1,"width":"2","height":"1","name":"tlLevelWidgetText","label":"Level","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"tlTitlesText","x":4400,"y":700,"wires":[]},{"id":"74a16cee8b6c1968","type":"ui-text","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"8021fadff1fbd867","order":1,"width":"2","height":"1","name":"tlBatteryGaugeText","label":"Battery","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"tlTitlesText","x":4860,"y":720,"wires":[]},{"id":"66e3bd5b7d82f80c","type":"ui-text-input","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"6ab8025231c0048f","name":"","label":"MAX (0%)","order":3,"width":"1","height":"1","topic":"topic","topicType":"msg","mode":"number","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"maxmin","x":4260,"y":920,"wires":[["8d5963d951976d7d"]]},{"id":"3118137979fb23e7","type":"ui-text-input","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"6ab8025231c0048f","name":"","label":"MIN (100%)","order":4,"width":"1","height":"1","topic":"topic","topicType":"msg","mode":"number","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"maxmin","x":4260,"y":960,"wires":[["7aabcc8d162de8eb"]]},{"id":"1e0d13d9417cec6b","type":"ui-text","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","group":"6ab8025231c0048f","order":5,"width":"2","height":"1","name":"tlLevelRAW","label":"Level raw in (mm):","format":"{{msg.payload}}","layout":"row-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"","x":4380,"y":860,"wires":[]},{"id":"48443db5dd7901ae","type":"function","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"map","func":"let range;\nlet numItem = flow.get(\"tlNumSelectedMAC\") || 0;\nlet in_min = flow.get(\"in_min[\"+numItem+\"]\") || 500;\nlet in_max = flow.get(\"in_max[\"+numItem+\"]\") || 9999;\nlet out_max = 0;\nlet out_min = 100;\nlet x = msg.payload;\nrange = (x - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;\nmsg.payload = range;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4200,"y":740,"wires":[["cb4c2ef3e40b3339"]]},{"id":"548be85d68f32491","type":"link in","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"link in 179","links":["c0cf694846b29bca","cc0226f553298130"],"x":4015,"y":940,"wires":[["9d5e278dce8ee301","b4e954326e069d2c"]]},{"id":"8d5963d951976d7d","type":"function","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"setFlowItem","func":"let numItem = flow.get(\"tlNumSelectedMAC\");\nlet max = msg.payload;\nflow.set(\"in_max[\"+numItem+\"]\", max);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4420,"y":920,"wires":[[]]},{"id":"7aabcc8d162de8eb","type":"function","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"setFlowItem","func":"let numItem = flow.get(\"tlNumSelectedMAC\");\nlet min = msg.payload;\nflow.set(\"in_min[\"+numItem+\"]\", min);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4420,"y":960,"wires":[[]]},{"id":"9d5e278dce8ee301","type":"function","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"max","func":"let numItem = flow.get(\"tlNumSelectedMAC\") || 0;\nlet max = flow.get(\"in_max[\"+numItem+\"]\") || 9999;\nmsg.payload = max;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4120,"y":920,"wires":[["66e3bd5b7d82f80c"]]},{"id":"b4e954326e069d2c","type":"function","z":"770e3c35c1ca10f8","g":"974a2228e74b1c71","name":"min","func":"let numItem = flow.get(\"tlNumSelectedMAC\") || 0;\nlet min = flow.get(\"in_min[\"+numItem+\"]\") || 500;\nmsg.payload = min;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4120,"y":960,"wires":[["3118137979fb23e7"]]},{"id":"3ec8280f09642874","type":"junction","z":"770e3c35c1ca10f8","x":3110,"y":1080,"wires":[["1dbbcd19132e38b2"]]},{"id":"b2f854044a28bb76","type":"junction","z":"770e3c35c1ca10f8","x":1960,"y":740,"wires":[["4fcf463f7aca0b15","b5cc5ad8be6273d4"]]},{"id":"b4db2ca48dd65b46","type":"group","z":"770e3c35c1ca10f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5f8f21bdd4c107d7","c59a870d62b55e53","2cd5bf9b08b9a526","b2ce40774b6cb6b7","c695d84d0418bc90","5b6e63aa140289b9","7f491d0477a81e79","3dc70aa13e1375a2","e063f3e5c5f74c4d","4b6473999e286c92","687cbe034e41796d","c8316edf37425bec","2a6a72e2a7132084","e6d4c58dc9025629","eade5c94e5f98725","de08a066b0e3d7da","cb72e8deb2c2c4c3","7cea99bdffc9c49f"],"x":3874,"y":379,"w":1102,"h":222},{"id":"460953dc96060b48","type":"group","z":"770e3c35c1ca10f8","name":"","style":{"fill":"none","label":true},"nodes":["b759caeb85e368b7","7ebdb792f318a5dc","761dc5f24506fb85"],"x":4454,"y":279,"w":612,"h":82},{"id":"56527be957791d6c","type":"group","z":"770e3c35c1ca10f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c8b7ded7a40d8c6a","21c65f58ea6913ee","275482dadd9e548d"],"x":4454,"y":179,"w":472,"h":82},{"id":"5edd2213c8316624","type":"group","z":"770e3c35c1ca10f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ab30a761b0172a03","c112b1eb314ec8fb","9608ca02881b8d2f","92d8677b5e6fa1bf","d0a9cb2be1138c62","e1c7b07bc094accc","40e074ab323d7e23","c0cf694846b29bca","4b42b1cd24ee889b","c943de803dd8c936"],"x":3874,"y":159,"w":552,"h":202},{"id":"bf82dfbc17e80901","type":"group","z":"770e3c35c1ca10f8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["427f72e713f3b422","af91089fe91a2ba8","24926e799e831a6f","ad1b24b6d5b89e26","6d3ac2b8bfa50483","3afd62ed94821fad","6bbc39e1fa1e41ad","e655b63146ca066c","d2dac8e7084f234b","6d132fc44a9ffe66","219e15c4e6aad59b","720cf7c9c6219e97","2c8347459d2255d0","c6cbc1e19a4e5930","0b9860878e605c21","2eb03f0fadf75b41","d6b4c5b36a577a03","cb55e94626a51bd1","f90425dd1fa04045","a93cb5a17e7ad136","c23cee37c9ce2750","bdb2ea5b1fbf7660","9009862a681da4da","558b0819339188d9","cfb62fea9d3beaaa","d876eaa7ca6cc284","25408472b5c31603","4812c0f09de79d4e","389579aed0ef99ba","25b521a73bd50eed","a777479cea61d4fd","383856288292108d","b690b3c207191c05","ec656663f90b5f07","38b8d990be0efee6","b8fb2bde2d8848e6","0d8b95f3fb58bc88","608248cda8aa4d6e","210e7435eaee1386","b228a2b88a9bed5e","ac4da71d37717c93","ebcdda15bbcd51b8","471333df010b4039","010ca20d178749aa","7b49b4220b9f5388","96cceea19ef7d328"],"x":3874,"y":1079,"w":1072,"h":482},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"a56770957f6b17b2","type":"ui-group","name":"tlDownload","page":"22b91977aa27d099","width":"6","height":"1","order":2,"showTitle":false,"className":"tlGroupDownload","visible":"true","disabled":"false"},{"id":"22b91977aa27d099","type":"ui-page","name":"ncd-tank-level","ui":"ec459411017ddf37","path":"/tanklevel","icon":"mdi-rss","layout":"grid","theme":"e01eadf35316cb83","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"4e8dc6237db49926","type":"ui-group","name":"tlInspect1","page":"22b91977aa27d099","width":"4","height":"1","order":7,"showTitle":false,"className":"tlInspectGroup","visible":"true","disabled":"false"},{"id":"c838b76fb155ba25","type":"ui-group","name":"tlInspect2","page":"22b91977aa27d099","width":"4","height":"1","order":8,"showTitle":false,"className":"tlInspectGroup","visible":"true","disabled":"false"},{"id":"a0153c36aff0782b","type":"ui-group","name":"tlInspect3","page":"22b91977aa27d099","width":"4","height":"1","order":9,"showTitle":false,"className":"tlInspectGroup","visible":"true","disabled":"false"},{"id":"62878c2ed835984c","type":"ui-group","name":"tlSelectMac","page":"22b91977aa27d099","width":"6","height":"1","order":1,"showTitle":false,"className":"tlGroupSelectMac","visible":"true","disabled":"false"},{"id":"9073e0dab3e3991f","type":"ui-group","name":"tlLevelChart","page":"22b91977aa27d099","width":"10","height":"1","order":4,"showTitle":false,"className":"tlMainGroups","visible":"true","disabled":"false"},{"id":"699f5f0aa270c69c","type":"ui-group","name":"tlBatteryChart","page":"22b91977aa27d099","width":"10","height":"1","order":6,"showTitle":false,"className":"tlBattGroup","visible":"true","disabled":"false"},{"id":"8021fadff1fbd867","type":"ui-group","name":"tlBatteryGroup","page":"22b91977aa27d099","width":"2","height":"1","order":5,"showTitle":false,"className":"tlBattGroup","visible":"true","disabled":"false"},{"id":"6ab8025231c0048f","type":"ui-group","name":"tlLevelGauge","page":"22b91977aa27d099","width":"2","height":"1","order":3,"showTitle":false,"className":"tlMainGroups","visible":"true","disabled":"false"},{"id":"e01eadf35316cb83","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"d2100af6fa5a5bdf","type":"subflow:770e3c35c1ca10f8","z":"0f850dc8977c3d53","name":"","x":800,"y":1600,"wires":[]}]
